<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="User">
    <insert id="save" parameterType="user">
        insert into user(id, password, name, accessToken,refreshToken)
        values(#{id}, #{password}, #{name}, #{accessToken},#{refreshToken})
    </insert>
    <select id="findByID" parameterType="String" resultType="user">
        select * from user where id=#{id}
    </select>
    <update id="update" parameterType="user">
        UPDATE user
        SET accessToken = #{accessToken}, refreshToken = #{refreshToken}
        WHERE id = #{id}
    </update>
</mapper>